 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
}



.navbar {
    background-color: burlywood;
    padding: 15px 20px;
}

.nav-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}


.menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    font-size: 28px;
    cursor: pointer;
}



.hero {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
    url("../img/BackGroundImoveis.png");

    background-size: cover;
    background-position: center;
    color: white;
    padding: 40px;
}



.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.col-33 {
    width: calc(33.333% - 14px);
}



.card {
    background: burlywood;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
}

.card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.card-body {
    padding: 15px;
}

.preco {
    font-size: 22px;
    font-weight: bold;
    color: green;
}



.btn {
    display: inline-block;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 6px;
    margin-top: 10px;
}

.btn-danger {
    background: red;
    color: white;
}

.btn-dark {
    background: black;
    color: white;
}

.btn-success {
    background: green;
    color: white;
    width: 100%;
}



.section {
    padding: 60px 0;
}

.text-center {
    text-align: center;
}

.mt-3 {
    margin-top: 15px;
}



.depoimento {
    background: white;
    padding: 15px;
    border-radius: 10px;
}



@media (max-width: 992px) {
    .col-33 {
        width: calc(50% - 10px);
    }
}

@media (max-width: 768px) {
    .col-33 {
        width: 100%;
    }

    .menu-icon {
        display: block;
    }

    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background: burlywood;
        margin-top: 10px;
    }

    .menu-toggle:checked + .menu {
        display: flex;
    }
}
